<p class="notice"><%= notice %></p>
<div class="room-container">
  <div class="row">
    <div class="room-show">
      <div class="room-image">
        <% if @room.image.attached? %>
          <td><%= image_tag @room.image, class:"room-image" %></td>
        <% else %>
          <td><img class="room-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"></td>
        <% end %>
      </div>
      <div class="room-details">
        <div class="icon">
          <% if current_user.avatar.attached? %>
            <td><%= image_tag current_user.avatar, class:"avatar" %></td>
          <% else %>
            <td><img class="avatar" src="https://1.bp.blogspot.com/-K04KC6yK6Uc/X7zMjTPrDPI/AAAAAAABcdI/rg_FQJ194SYzrFROZ5mywsVLKZArAd8SwCNcBGAsYHQ/s726/shibasuberi_danbo-ru_girl.png"></td>
          <% end %>
        </div>
        <div class="room-profile">
          <p class="room-name"><%= @room.name %></p>
          <p class="room-address"><%= @room.address %></p>
        </div>
      </div>
      <div class="room-introduction">
        <p><%= @room.introduction %></p>
      </div>
      <div class="hostmenu", style="text-align: right;">
        <% if @room.user == current_user %>
          <%= link_to '編集する', edit_room_path(@room) %>
          <%= link_to '削除する', rooms_path, method: :delete, data: { confirm: '本当に良いですか?' } %>
        <% end %>
      </div>
    </div>

    <div class="reservation-new">
      <div class="reservation-nav">
        <h1>¥<%= @room.price %>/日</h1>
          <%= form_with model: @reservation, url: new_room_reservation_path(@room), method: :get do |f| %>
            <% if @error_messages %>
              <div id="error_explanation">
                <h2><%= pluralize(@error_messages.count, "件") %> のエラーが発生したため予約できません。:</h2>
                <ul>
                  <% @error_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
      
            <div class="field">
              <%= f.label :start_date,"チェックイン" %>
              <%= f.date_field :start_date, value: @start_date, min: Date.current, class:"reservation-input" %>
            </div>

            <div class="field">
              <%= f.label :end_date,"チェックアウト" %>
              <%= f.date_field :end_date, value: @end_date, min: Date.current,class:"reservation-input" %>
            </div>

            <div class="field">
              <%= f.label :guests,"宿泊人数" %>
              <%= f.number_field :guests, value: @guests,class:"reservation-input" %>
            </div>

            <div class="submitbtn">
              <%= f.submit  "予約確認へ" %>
            </div>
          <% end %>

          <br /><div style="text-align: right;"><%= link_to "戻る", rooms_path %></div>
      </div>
    </div>
  </div>
</div>